<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/content.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='Js/script.js') }}"></script>
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <div class="navigate">
            <a href="/users/">Пользователи</a>
            <a href="/map/">Карта</a>
            <a href="#">Новости</a>
            <a href="/logout/">Выход</a>
        </div>
    </header>
    <main>
    {% block content %}
        <p id="server_info">Что-то пошло не так</p>
    {% endblock %}
    </main>
</body>
</html>