{% extends "index.html" %}

{% block content %}
    <div class="box">
        <form method="POST" novalidate>
            {{ form.hidden_tag() }}
            <h1>Вход</h1>
            <p>{{ form.email(placeholder="E-mail") }}</p>
            <p>{{ form.password(placeholder="Пароль") }}</p>
            <p>{{ form.submit(value="Подтвердить") }}</p>
            {% if err %}
                <div id="server_info">
                    <p>Неверный логин или пароль</p>
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}