body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #313436;
}
.box {
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #191919;
	text-align: center;
	border-radius: 24px;
}
.box h1 {
	color: white;
	text-transform: uppercase;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 40px;
}
.box input[type = "submit"] {
	display: block;
	margin: 20px auto;
	border: 0;
	background: none;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
	font-weight: 700;
	min-width: 180px;
}
.box input[type = "submit"]:hover {
	background: #2ecc71;
}
.box a {
    display: block;
	margin: 20px auto;
	border: 0;
	background: none;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
	font-weight: 700;
	min-width: 180px;
	text-decoration: none;
}
.box a:hover {
	background: #2ecc71;
}

.box input[type = "text"],
.box input[type = "password"],
  .box input[type = "email"],
   .box input[type = "number"] {
	display: block;
	margin: 20px auto;
	border: 0;
	background: none;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
	font-weight: 700;
}
.box input[type = "text"]:focus,
 .box input[type = "password"]:focus,
  .box input[type = "email"]:focus,
   .box input[type = "number"]:focus {
	padding: 14px 60px;
	border-color: #2ecc71;
}
#server_info p{
	border: 2px solid;
	border-color: #ce2514;
	border-radius: 24px;
	color: white;
	font-weight: 500;
	margin: 0 auto;
	text-align: center;
	width: 300px;
	padding: 14px 10px;
}

.error {
	width: 900px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	color: #ce2514;
	font-weight: 700;
	transform: translate(-50%, -50%);
	background: #191919;
	text-align: center;
	border-radius: 24px;
}

.error a {
    display: block;
	margin: 20px auto;
	border: 0;
	background: none;
	text-align: center;
	border: 2px solid #ce2514;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
	font-weight: 700;
	text-decoration: none;
}
.error a:hover {
	background: #ce2514;
}

.file-signup {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.label-file-signup {
    display: block;
	margin: 20px auto;
	border: 0;
	background: none;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
	font-weight: 500;
	width: 120px;
}

.label-file-signup:hover {
	background: #3498db;
}